<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="shareViaWhatsapp()">
        <ion-icon color="primary" name="share"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="noticia">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/icon_el_comercio.ico">
      </ion-avatar>
      <h2>El Comercio</h2>
      <p>{{noticia.pubDate}}</p>
    </ion-item>
    <div *ngIf="noticia.enclosure"><img [src]="noticia.enclosure.url"></div>
    <ion-card-content>
      <span ion-text color="primary">{{noticia.author}}</span>
      <h2>{{noticia.title}}</h2>
      <br>
      <span>{{noticia.content}}</span>
    </ion-card-content>
  </div>

  <div padding>
    <button ion-item large block (click)="viewOnBrowser()" text-wrap no-lines>
      <span ion-text color="primary">Ver noticia en el comercio</span>
      <ion-icon item-start name="warning" color="warning"></ion-icon>
      <p>Esta acción le llevara al sitio de El Comercio</p>
    </button>
  </div>

</ion-content>
