<ion-header>
  <ion-navbar>
    <ion-title>Titulares</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="feed">
    <div *ngFor="let item of feed.items" (click)="viewDetail(item)">
      <ion-card>
        <ion-item text-wrap>
          <h2>{{item.title}}</h2>
        </ion-item>
        <div *ngIf="item.enclosure"><img [src]="item.enclosure.url"></div>
        <ion-item text-wrap no-lines>
          <ion-row>
            <ion-col col-6><p ion-text color="primary">{{item.author}}</p></ion-col>
            <ion-col col-6 text-right><p>{{item.pubDate}}</p></ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>
