<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="feed">
    <div *ngFor="let item of feed.items" (click)="viewDetail(item)">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/icon_el_comercio.ico">
        </ion-avatar>
        <h2>El Comercio</h2>
        <p>{{item.pubDate}}</p>
      </ion-item>
      <div *ngIf="item.enclosure"><img [src]="item.enclosure.url"></div>
      <ion-card-content>
        <p ion-text color="primary">{{item.author}}</p>
        <span>{{item.title}}</span>
      </ion-card-content>
      <ion-item-divider no-lines></ion-item-divider>
    </div>
  </div>
</ion-content>
